<div class="side-bar">
  <div class="side-top">
    <div class="user-link">
      <%= link_to "#{current_user.name}", "users/#{current_user.id}/edit"%>
    </div>
    <div class="make-chat">
      <%= link_to "チャットを作成する", "#" %>
    </div>
  </div>
  <div class="room-list">
    <ul>
      <li>techroom1</li>
      <li>techroom2</li>
      <li>techroom3</li>
      <li>techroom4</li>
      <li>techroom5</li>
      <li>techroom6</li>
      <li>techroom7</li>
      <li>techroom8</li>
      <li>techroom9</li>
      <li>techroom10</li>
      <li>techroom11</li>
      <li>techroom12</li>
      <li>techroom13</li>
      <li>techroom14</li>
    </ul>
  </div>
</div>

    
